html {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  color: white;
}

body {
  background: linear-gradient(to bottom left, #000000, #a9a9a9);
  width: 200vh;
  height: 130vh;
}


h1 {
  font-size: 10vh;
  margin: 4vh 0;
}

h2 {
  font-size: 8vh;
  margin: 2vh 0 3vh 0;
}

p,
ul {
  font-size: 3vh;
  margin: 2vh 0;
}

.main-section {
  width: 200vh;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-section {
  width: 200vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bio {
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-right: 5vh;
}

.bio ul {
  list-style-type: none;
  margin-left: -5vh;
}

.bio ul li {
  display: flex;
  flex-direction: row;
}

.bio ul li div {
  width: 3vh;
  height: 3vh;
  margin-right: 1vh;
  border-radius: 35%;
  padding: 0 0 5px 5px;
  border-left: 0.57vh solid white;
  border-bottom: 0.57vh solid white;
}

#ul-2 {
  margin-left: 3vh;
}

#ul-3 {
  margin-left: 6vh;
}

#ul-4 {
  margin-left: 9vh;
}

#ul-5 {
  margin-left: 12vh;
}

#ul-6 {
  margin-left: 15vh;
}

.profile-picture {
  width: 50vh;
  height: 50vh;
  margin-left: 5vh;
}

.profile-picture img {
  width: 50vh;
  height: 50vh;
}

.social-links {
  width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
}

.social-links img {
  width: 7vh;
  height: 7vh;
}